@using System.Security.Claims
@{
    var name = @User.FindFirst(c => c.Type == "unique_name").Value;
    var pic = @User.FindFirst(c => c.Type == "Profilepic").Value;
}
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow dropdown-center">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @if (User.Identity.IsAuthenticated == true)
                {
                    <span class="mr-2 d-none d-lg-inline text-gray-600 large text-capitalize">@name</span>
                    <img class="img-fluid rounded-circle"
                         src="@pic" style="max-width:50px;max-height:50px;">
                }
                else
                {
                    <span class="mr-2 d-none d-lg-inline text-gray-600 large text-capitalize"> Guest </span>
                    <img class="img-fluid rounded-circle"
                         src="@Url.Content("~/uploads/common/avatar.png")" style="max-width:50px;max-height:50px;">
                }
            </a>
            <ul class="dropdown-menu dropdown-menu-left">
                <li>
                    <a class="dropdown-item" asp-controller="Profile" asp-action="Index" asp-route-email="@User.FindFirst(c => c.Type =="email").Value">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Profile" asp-action="ChangePassword">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</nav>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" asp-controller="Account" asp-action="Logout">Logout</a>
            </div>
        </div>
    </div>
</div>